*{
    margin:0;
    padding:0;
}
#div2{
    width:250px;
    background: rgb(236, 179, 179);
    transform: rotate(5deg);
    border-radius: 5px;
}
#div3{
    width:500px;
    height:400px;
    background: url('img/lyf.jpg') 0 0 no-repeat;
}