*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    font:12px/1.5 tahoma,arial,"\5b8b\4f53";
}
a{
    text-decoration: none;
}
/* banner 开始*/ 
.banner{
    /* inline/inline-block （行元素/行级块元素） 通过设置父元素的text-align:center; 设置左右居中 */
    background:#f25283;
}
.banner img{
    display: block;
    margin: 0 auto;
    /*图片上下有边框--->设置margin：0 auto； auto自适应，左右居中*/
}
.banner1{
    display: block;
    height: 80px;
    background:#f25283 url(../images/banner.jpg) no-repeat center 0;
}
/* banner 结束*/

/* header开始 */
#header{
    height: 40px;
    background: #f2f2f2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30)
}
.wrapper{
    width:1230px;
    /* background: gray; */
    margin: 0 auto;
}
.header-login{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.header-login span ,.header-login a{
    color: #999;
}
.header-login a{
    padding-left: 20px;
}
.header-login a:hover{
    color:red;
}


/* header结束 */