*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    font:12px/1.5 tahoma,arial,"\5b8b\4f53";
}
a{
    text-decoration: none;
}
/* banner 开始*/ 
.banner{
    /* 
        inline/inline-block （行元素/行级块元素）margin:-3px; 
        去掉inline-block的竖线格代码压缩后可能有问题
        通过设置父元素的text-align:center; 设置左右居中 
    */
    background:#f25283;
}
.banner img{
    display: block;
    margin: 0 auto;
    /*图片上下有边框--->设置margin：0 auto； auto自适应，左右居中*/
}
.banner1{
    display: block;
    height: 80px;
    background:#f25283 url(../images/banner.jpg) no-repeat center 0;
}
/* banner 结束*/

/* header开始 */
#header{
    height: 40px;
    background: #f2f2f2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30)
}
.wrapper{
    width:1230px;
    /* background: gray; */
    margin: 0 auto;
}
.header-login{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    float:left;
}
.header-login span ,.header-login a{
    color: #999;
}
.header-login a{
    padding-left: 20px;
}
.header-login a:hover{
    color:#ff0036;
}
.header-list{
    float:right;
}
.header-list li{
    float:left;
    line-height: 40px;
    /* height:40px; */
    /* padding: 0 15px 0 20px; */
}
/* .header-list li a{
    color:#999;
} */
.header-list li a:hover{
     color:#ff0036;
} 
.header-list>li>a{
    color:#999;
    padding:0 15px 0 10px;
    display: block;
}
.header-list li.list-menu:hover>a{
    color:#ff0036;
    background: #fff;
    text-decoration: underline;
}
.iconfont{
    color:#ff0036;
    font-size: 14px;
}
.icon-webicon205{
    font-size: 18px;
}

.header-list .list-menu{
    position: relative;
}
.arrow{
    width: 0;
    height: 0;
    border:3px solid transparent;
    border-top-color:#999;
    position: absolute;
    right:7px;
    top:20px;
    transition: transform 0.2s ease;/* 变换 */
}
.header-list .list-menu:hover .arrow{
    transform: rotate(180deg);
    transform-origin: 50% 25%;
}
.header-list li.list-menu-no:hover>a{
    color:#999;
    text-decoration: none;
}
.sub-list{
    position: absolute;
    left:0;
    top: 40px;
    background: #fff;
    border:1px solid #eee;
    border-top: none;
    padding: 9px 8px;
    width:75px;
    line-height: 30px;
    display:none;
}
.sub-list a{
    color:#999;
}
.sub-list a:hover{
    text-decoration: underline;
}
.header-list .list-menu:hover .sub-list{
    display:block;
}
/* header结束 */


/* search开始 */
#search{
    height:130px;
    background: #ffffff;
}
.logo{
    float: left;
}

